@import "../base"

*::input-placeholder
	color #D8CBC5

*
	tap-highlight-color fade($theme-color, 70%)

	&:focus
		outline none

	&::scrollbar
		width 5px
		background transparent

		&:horizontal
			height 5px

	&::scrollbar-button
		width 0
		height 0
		background rgba(0, 0, 0, 0.2)

	&::scrollbar-piece
		background transparent

		&:start
			background transparent

	&::scrollbar-thumb
		background rgba(0, 0, 0, 0.2)

		&:hover
			background rgba(0, 0, 0, 0.4)

		&:active
			background $theme-color

	&::scrollbar-corner
		background rgba(0, 0, 0, 0.2)

html, body
	margin 0
	padding 0
	scroll-behavior smooth
	text-size-adjust 100%
	font-family 'Meiryo', 'メイリオ', sans-serif

button
	-ms-user-select none
	-moz-user-select none
	-webkit-user-select none
	user-select none
	font-family sans-serif

a
	text-decoration none
	color $theme-color
	cursor pointer

	&:hover
		text-decoration underline

	*
		cursor pointer
