extends ../base

block body

	div#misskey-global
		header#misskey-header
			div#misskey-menu-bg(role='presentation')
			div#misskey-menu
				div.body
					ul
						li: a.ui-waves-effect(href= config.aboutUrl)
							i.fa.fa-info-circle
							| About Misskey
						li: a.ui-waves-effect(href= config.helpUrl)
							i.fa.fa-question-circle
							| Help
					ul
						li: a.ui-waves-effect(href= config.url + '/madoka')
							i.fa.fa-check-circle
							| @madoka
					ul
						li: a.ui-waves-effect(href= config.aboutUrl + '/donate')
							i.fa.fa-heart
							| Donate
					ul
						li: a.ui-waves-effect(href='https://github.com/MissKernel/Misskey')
							i.fa.fa-github
							| Github repository
						li: a.ui-waves-effect(href= config.developerCenterUrl)
							i.fa.fa-terminal
							| Developers Center

			div.main
				div.main-contents-container
					div.left
						nav
							div.misskey-menu
								button.hamburger
									span.bar(role='presentation')
									span.bar(role='presentation')
									span.bar(role='presentation')
							div.main-nav
								ul
									if signin
										li.home.active: a(href= config.url)
											i.fa.fa-home
											p ホーム
										li.mentions: a(href= config.url + '/i/mentions')
											i.fa.fa-at
											p あなた宛て
										li.talks: a(href= config.talkUrl)
											i.fa.fa-comments
											p トーク
					div.right
						form.search(action= config.searchUrl, method='get', role='search')
							input(type='search', name='q', placeholder!='&#xf002; 検索')
							div.result
						if signin
							div.account
								div.bg(role='presentation')
								button.header(data-active='false')
									span.username
										= user.username
										i.fa.fa-angle-down
									img.avatar(src= user.avatarUrl + '?size=64', alt='avatar')
								div.body(style={display: 'none'})
									ul
										li: a.ui-waves-effect(href= config.url + '/' + user.username)
											i.fa.fa-user
											| プロフィール
											i.fa.fa-angle-right
										li: a.ui-waves-effect(href= config.url + '/i/drive')
											i.fa.fa-cloud
											| ドライブ
											i.fa.fa-angle-right
										li: a.ui-waves-effect(href= config.url + '/' + user.username + '/likes')
											i.fa.fa-star
											| お気に入り
											i.fa.fa-angle-right
									ul
										li: a.ui-waves-effect(href= config.url + '/i/settings')
											i.fa.fa-cog
											| 設定
											i.fa.fa-angle-right
									ul
										li: a.ui-waves-effect(href= config.signoutUrl)
											i(class='fa fa-power-off')
											| サインアウト
											i.fa.fa-angle-right
							div.notifications(data-active='false')
								button.header
									span
										i.fa.fa-bell
								div.body
									div.nav
										select.filter-type(title='表示を絞り込み')
											option(value='all') すべて
											option(value='self-notification') self-notification
											option(value='follow') 被フォロー
											option(value='like') Like
											option(value='repost') Repost
										button.delete-all-button(title='すべて削除')
											i.fa.fa-trash-o
									div.main
							div.post
								button#misskey-post-button(title='新規投稿')
									i.fa.fa-pencil-square-o
						div.time
							div.header
								time.now(datetime= Date.now())
							div.content
								canvas.clock#misskey-main-clock-canvas(width='256', height='256')

		div#misskey-contents
			block content

	button#misskey-go-top-button.hidden(title='一番上へ')
		i.fa.fa-angle-up
