extends ../../../base

block title
	= user.name + ' | Misskey'

block head
	link(rel='stylesheet', href='/_/resources/desktop/pages/user/style.css')
	script(src='/_/resources/desktop/pages/user/script.js', async, defer)

block body
	mk-ui: mk-user-page(user= user.id)
