extends ../../../base

block title
	| Misskey

block head
	link(rel='stylesheet', href='/_/resources/desktop/pages/home/style.css')
	script(src='/_/resources/desktop/pages/home/script.js', async, defer)

block body
	mk-ui
		div#home
			div.widgets.side-left: div.body
				mk-calendar-home-widget
			main.widgets: div.body
				mk-timeline-home-widget
			div.widgets.side-right: div.body
				mk-user-recommendation-home-widget
				mk-donate-home-widget
				mk-tip-home-widget
	mk-stream-indicator
