extends ../../../base

block title
	| Misskey

block head
	link(rel='stylesheet', href='/_/resources/desktop/pages/home/style.css')
	script(src='/_/resources/desktop/pages/home/script.js', async, defer)

block body
	mk-ui: mk-home
