extends ../../../base

block title
	| Misskey

block head
	link(rel='stylesheet', href='/_/resources/desktop/pages/home/style.css')
	script(src='//cdn.socket.io/socket.io-1.4.5.js')

block body
	mk-ui
		div#home
			div.side-left: div.body
			main: div.body
				mk-timeline-home-widget
			div.side-right: div.body

	script(src='/_/resources/desktop/pages/home/script.js')
