extends ../../../base

block title
	| Misskey

block head
	link(rel='stylesheet', href='/_/resources/desktop/pages/home/style.css')

block body
	mk-ui
		div#home
			div.side-left: div.body
			main: div.body
				mk-timeline
			div.side-right: div.body

	script(src='/_/resources/desktop/pages/home/script.js')
