extends ../../../base

block title
	| Misskey

block head
	link(rel='stylesheet', href= config.urls.resources + '/desktop/pages/home/style.css')
	script(src= config.urls.resources + '/desktop/pages/home/script.js')

block body
	mk-ui
		div#home
			div.side-left: div.body
			main: div.body
				mk-timeline
			div.side-right: div.body
