doctype html

html(lang='ja', dir='ltr')

	head
		meta(charset='utf-8')
		meta(name='description', content='Something happened')
		title Oops

	body
		h1 技術的な問題が発生しています。
		hr
		details
			summary 詳細情報
			pre= error
		hr
		footer
			p Misskey
