extends ../base

append head
	meta(name='viewport', content='width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no')
	link(rel='stylesheet', href= config.url + '/_/resources/mobile/style.css')
	script(src= config.url + '/_/resources/mobile/script.js', async, defer)
